// Couleurs
$blanc: #fff;
$blanc-gras: #f6f1eb;
$bleu: #2e4998;
$gris: #d6d6d6;
$gris-sombre: #313131;
$gris-tres-sombre: #212121;
$noir: #000;
$rouge: #e52722;
$rouge-clair: rgba($color: $rouge, $alpha: 0.8);
$rouge-sombre: #af0f0c;

// Tailles
$frontiere: 768px;