@import 'balises';
@import 'bases';
@import 'fonctions';
@import 'font-face';
@import 'mixins';
@import 'variables';

// Fix Base Styles -------------------------------------

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus,
button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active, .form-select:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

// Global CSS ------------------------------------------

.titrePrincipal {
  font-size: rem(17);
  text-align: center;
  color: $rouge-sombre;
  font-weight: 600;
  margin: rem(35) 0 rem(45) 0;
}

.titreSecondaire {
  font-size: rem(14);
  text-align: center;
  color: $rouge-sombre;
  font-weight: 600;
  margin: rem(35) 0 rem(45) 0;
}

body {
  &::-webkit-scrollbar {
    width: 8px !important;
    background-color: white !important;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(208, 46, 46) !important;
    border-radius: 10px !important;
  }
}

// Responsive ------------------------------------------

@media all and (min-width: $frontiere) {
  .titrePrincipal {
    font-size: rem(28);
    margin: rem(35) 0 rem(45) 0;
  }

  .titreSecondaire {
    font-size: rem(20);
    margin: rem(35) 0 rem(45) 0;
  }
}
